{% extends 'quotes/base1.html' %}

{% block content %}

<h2>LogIn</h2>

{% if form.errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if messages %}
<div>
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form method="post" style="width: 60%;">
    {% csrf_token %}

    <div class="row mb-4">
        <label>Username:</label>
        {{form.username}}
        <span>{{form.errors.username}}</span>
    </div>
    <div class="row mb-3">
        <label>Password:</label>
        {{form.password}}
        <span>{{form.errors.password}}</span>
    </div>
    <div class="d-grid gap-2 col-2 mx-auto">
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        <button type="reset" class="btn btn-secondary btn-sm">Reset</button>
    </div>
    <div class="small text-center">
        <a href="{% url "users:password_reset" %}" class="text-center"><i>Forgot Password?</i></a>
    </div>
</form>

{% endblock %}